.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.title {
  color:white;
  font-size: 24px;
}
.icons {
  color:white;
}
.container {
  max-width: 1300px;
  margin: 10px;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  /* display: flex; */
  /* align-items: center;   */
}
.grid-container {
  padding:20px;
}
.article-container {
  padding:10px;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


@media (max-width: 768px) {
  .icon-buttons {
    width:100px
  }
  .title {
    font-size: 14px;
  }
}